openai.api.key=PUT_YOUR_KEY_HERE
spring.mail.host=in-v3.mailjet.com
spring.mail.port=587
spring.mail.username=PUT_YOUR_USERNAME
spring.mail.password=PUT_YOUR_PASSWORD
mail.from=PUT_YOUR_VERIFIED_SENDER
